@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: #18181b;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .colombian-flag {
    background: linear-gradient(to right, #FBFF05 33%, #1601FF 33%, #012BFF 66%, #ce1126 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


strong {

}


